/*.cke_contents {*/
/*    height: 700px !important;*/
/*}*/

:root {
    --main-color: #166dba;
    --second-color: #738aa3;
}

.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-body.display-flex .rating-line {
    margin-top: 15px;
}

.text-warning-700,
.text-danger-800 {
    font-weight: bolder;
}

.page-title i {
    margin: 0 5px;
}

.page-title i:first-child {
    margin-left: 0;
}

img.image {
    width: 100%;
}

.dt-top-line {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dt-top-line .form-group {
    width: 300px;
    margin-bottom: 0;
}

.dt-top-line span {
    margin: 0 5px;
}

.id {
    width: 20px;
    text-align: center;
}

button i {
    margin-right: 5px;
}

th.arrange {
    padding: 0 !important;
    background-color: #f3f3f3;
}

th.arrange i {
    cursor: pointer;
}

td.id {
    width: 20px;
}

td.user {
    width: 180px;
}

img.logo {
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}

.media-body hr {
    margin: 5px 0;
}

td.avatar,
td.logo,
td.image,
td.active:not(.start-date),
td.status,
td.rating,
td.read_admin,
td.read_owner,
td.admin,
.dt-image {
    width: 70px;
}

td.image-cell {
    width: 10%;
    padding: 5px;
}

th.tools,
td.tools {
    width: 80px;
    padding: 0 10px;
    text-align: center;
}

td.tools i {
    margin-left: 5px;
}

td.tools i:first-child {
    margin-left: 0;
}

.form-group.name input,
.form-group.name select {
    height: 37px;
    font-size: 17px;
}

.form-group input.has-icon {
    padding-left: 35px;
}

.form-group i:not(.icon-file-plus) {
    position: absolute;
    font-size: 13px;
    top: 16px;
    left: 7px;
    transform: translateY(-50%);
    color: grey;
}

.form-group.number i {
    font-size: 20px;
    top: 24px;
}

.form-group.number.has-label i {
    top: 50px;
}

.form-group textarea[name=address] {
    height: 65px;
}

.form-group.has-label i {
    top: 45px;
}

div.error {
    color: red;
}

div.error.image {
    border: none;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group.error .uploader {
    border: 1px solid red;
}

input.error,
textarea.error,
select.error {
    color: red !important;
    border: 1px solid red !important;
}

label {
    font-weight: bold;
    color: grey;
}

label sup,
p sup {
    color: red;
    font-weight: bolder;
    font-size: 1rem;
}

input[type=number] {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--second-color);
}

textarea {
    width: 100% !important;
    height: 200px !important;
    resize: vertical;
}

.modal-body {
    background-color: #f1f1f1;
    border: 1px solid #eaeaea;
}

.icon-object {
    width: 85px;
    height: 85px;
    padding: 23px 10px;
    text-align: center;
    color: var(--second-color);
}

.nav.navbar-nav {
    display: flex;
    align-items: center;
}

.dropdown-user .dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-user .avatar.cir.small {
    background-color: white;
}

.btn-primary,
.navigation > li.active > a,
.navigation > li.active > a:hover,
.navigation > li.active > a:focus {
    background-color: var(--second-color);
    border-color: #2c3341;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
    background-color: #2c3341;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.5rem 0.5rem;
    float: right;
    margin: -3.2rem -0.5rem -0.5rem auto;
    position: relative;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.dataTables_length > label > span:first-child {
    margin: 0 15px;
}

#map {
    height: 285px;
}

#define_position {
    width: 100%;
}